div
  md-toolbar
    h1.md-title コントロール画面

  md-layout
    md-layout(md-column='')
      //- 表示中ビデオ
      div
        draggable(
          v-model='displayingVideos'
          :options="{ group: 'video' }"
          @change="changeDisplayingVideos"
        )
          transition-group.displaying-videos(name="flip-list")
            vj-visual.displaying-videos-item(
              v-for="video in displayingVideos"
              :key='video.id'
              :video="video"
            )

    //- ビデオリスト
    md-layout(md-column='', md-flex='33')
      md-list
        draggable.videos(
          v-model='videos'
          :options="{ group: { name: 'video', pull: 'clone', put: false }, sort: false }"
        )
          transition-group
            md-list-item(
              v-for="video in videos"
              :key='video.url'
            )
              md-avatar.md-large(v-if="video.thumbnail")
                img(:src="video.thumbnail", alt="")
              span {{ video.title }}
