.displaying-videos {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 40px;

  &-item {
    transition: 1s;
  }
}

.videos {
  min-height: 20px;
}

// Animation
.flip-list {
  &-enter, &-leave-active {
    opacity: 0;
  }
  &-move {
    transition: transform 1s;
  }
}

// dat.GUI
.dg {
  &.ac {
    z-index: 1000;
  }
  &.a {
    margin-right: 0;
  }
}
